* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: auto;
    width: 1000px;
    height: 500px;
    
}

header {
    text-align: center;
    background-color: lightgray;
    padding-top: 50px;
    border-radius: 20px;
    margin: 20px 0;
}

main {
    border: 1px solid lightgray;
    padding: 20px;
}

.redonda {
    border-radius: 50%;
    width: 300px;
}