* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.laranja {
    color: rgb(247, 133, 3);
}
header {
    width: 800px;
    padding: 50px;
    margin: auto;
    display: flex;
    flex-direction: row;
    
}

#logo{
    text-indent: 15px;
    line-height: 70px;
    position: relative;
    bottom: 20px;
}

#slogan{
    font-size: 1.6rem;
    line-height: 40px;
}

#ligue{
    position: absolute;
    top: 60px;
    right: 250px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

