*{
    box-sizing: border-box;
    margin: 0 auto;
    
}

body{
    margin: 20px;
    text-align: center;
    line-height: 1.5rem;
}

.tabela {
    border: 1px solid black;
    padding: 5px;
    border-collapse: colapso;
    width: 400px;
}

.tabela th {
    border: 1px solid black;
    padding: 5px;
    background-color: lightgray;
}

.tabela td {
    border: 1px solid black;
    padding: 5px;
}

